## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
%>
<%namespace name='static' file='/static_content.html'/>


## -----------parte del pie --------------------
<div id="su-footer">
    <p>Contactos</p> 
    <div class="su-container">
        <div class="su-row">
            ## logo del footer---------------------
            <div id="su-footer-logo" class="span2">
                <a href="http://iaen.edu.ec">
                    <img src="${static.url('themes/stanford/images/slogan-iaen.png')}" alt="Universidad de Posgrados del Estado" width="150" height="50"/>
                </a>
                <div id="titular">
                    Últimas actualizaciones de Twitter
                </div>
                <div id="twitter">
                    <script>
                        $(function() {
                        $.ajax({
                            url: "https://cdn.syndication.twimg.com/widgets/timelines/441268959484977153",
                            dataType: "jsonp",
                            success: function(data) {
                            $("#twitter").html($(data.body).find('.e-entry-title'));
                                }
                            });
                        });
                    </script>
                </div>  
            </div>
 
            ##-------------- navegación footer
            <div id="su-footer-text" class="span2">
                <ul>
                    <li>Dirección:</br></br>
                        Av. Río Amazonas N37-271</br></br>
                        y Villalengua esq.,</br></br> 
                        Quito - Ecuador</br></br>
                        (+593 2) 382-9900</br></br>
                        (+593 2) 423 6338</br></br>
                     <a href="#">E-mail: infoiaen@iaen.edu.ec</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            ##--------------------------------------

            ## redes sociales------------   
            <div id="su-footer-redes" class="span2">
                <div id="su-footer-texto">
                    síguenos en:
                </div>
            
                <div id="su-footer-logos">
                    <a href="https://www.facebook.com/upexec">
                        <img src="${static.url('themes/stanford/images/facebook.png')}" alt="UPEx" width="40" height="40"/></a>
                    <a href="https://twitter.com/upex_ec">
                        <img src="${static.url('themes/stanford/images/twitter.png')}" alt="upex_ec" width="40" height="40"/></a>
                    <a href="https://plus.google.com/u/0/116650887242648660285/posts">
                        <img src="${static.url('themes/stanford/images/google.png')}" alt="UPEx" width="40" height="40"/></a>
                </div>
                <div id="logo-footer">
                    <a href="#">
                        <img src="${static.url('themes/stanford/images/logoUPEx.png')}" alt="UPEx" width="160" height="80"/>
                    </a>
                </div>
            </div>
            ##----------------------------   
            <div style="clear: both;"></div>
        </div>
    </div>

  ## Enlaces a estaticas
  <div class="wrapper-footer">
    <footer>
      <div class="colophon">
        <nav class="nav-colophon">
          <ol>
            <li><a href="${reverse('tos')}">Términos de Uso</a></li>
            <li><a href="${reverse('tos')}#privacy">Políticas de Privacidad</a></li>
            <li><a href="${reverse('tos')}#honor">Código de Honor</a></li>
            <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
            <!-- li><a href="${reverse('about_edx')}#careers">Careers</a></li -->
            <li><a href="${reverse('about_edx')}#contact">Contacto</a></li>
            <li><a href="${marketing_link('FAQ')}">Ayuda</a></li>
          </ol>
        </nav>
      </div>
      ## div del edx
      <div class="references">
       <span>Construido sobre <a href="http://code.edx.org">OpenEdX</a>.</span>
      </div>
    </footer>
  </div>
    ##-----------------------------------

    ## barra final del footer
    <div id="su-footer-fin">
      ##<p class="copyright vcard">&copy; <span class="fn org">Desarrollado por: Dpto. de Desarrollo e Innovación tecnológica / Derechos reservados.</span>, <span class="adr"> <span class="locality">Ecuador</span>, <span class="region">Quito</span> <span class="postal-code"></span> </span></p>
              Copyright © 2014 Developed by: Dpto. de Desarrollo e Innovación Tecnológica - IAEN / Derechos reservados.
    </div>
</div>    

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.upex.iaen.edu.ec"]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.iaen.edu.ec/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "7"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
